* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $dark-gray;
  background-color: $white;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-fast;
}

a:hover {
  color: $primary-orange;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: $spacing-md;
}

h1 { font-size: $font-size-2xl; }
h2 { font-size: $font-size-xl; }
h3 { font-size: $font-size-lg; }
