# Site settings
title: Min Zhe Cheah
email: cheah.min@berkeley.edu
description: Software Engineer & Data Science Student
baseurl: ""
url: "https://minzhecheah.github.io/portfolio"
github_username: MinZheCheah
linkedin_url: "[PROFILE]"

# Build settings
markdown: kramdown
theme: null
sass:
  sass_dir: _sass
  style: compressed

# Plugins
plugins:
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - vendor/
  - .sass-cache/
  - .jekyll-cache/
  - .jekyll-metadata
